@media (min-width: 768px) {
  .container {
    padding: 0 50px;
  }
  .section-title {
    font-size: 48px;
    line-height: 65px;
  }
  .section-descr {
    font-size: 16px;
    line-height: 32px;
  }

  /*Header*/

  .header {
    padding-top: 32px;
    padding-bottom: 21px;
  }
  .logo {
    width: 188px;
  }
  .logo__img {
    width: 100%;
  }
  .header__top {
    margin-bottom: 23px;
  }

  .header__btn svg {
    width: 28px;
    height: 28px;
  }
  .nav__item:not(:last-child) {
    margin-right: 44px;
  }
  .nav__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
  /*Hero*/

  .hero {
    padding: 234px 0 86px;
    min-height: 768px;
    background-image: url("../img/hero_section/bg_fab.png");
  }
  .hero__container {
    justify-content: space-between;
    align-items: baseline;
    min-height: 448px;
    text-align: left;
  }

  .hero__content {
    align-items: baseline;
    text-align: left;
  }
  .hero__title {
    margin-bottom: 20px;
    font-size: 72px;
    line-height: 68px;
  }
  .hero__descr {
    max-width: 83%;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }
  .hero__btn {
    padding: 23px 36px;
    font-size: 18px;
    line-height: 25px;
  }

  /*About*/
  .about {
    padding-top: 79px;
    padding-bottom: 71px;
  }
  .about__title {
    margin-bottom: 16px;
  }
  .about__descr {
    max-width: 100%;
  }
  /*Gallery*/
  .gallery {
    padding: 80px 0 71px;
    background-image: url("../img/gallery_section/bg-fab.png");
  }
  .gallery__title {
    margin-bottom: 16px;
  }
  .gallery__list {
    flex-direction: row;
  }
  .gallery__item:not(:last-child) {
    margin-right: 34px;
    margin-bottom: 0;
  }

  /*Catalog*/

  .catalog {
    padding: 80px 0;
  }

  .catalog__title {
    margin-bottom: 16px;
  }
  .catalog__descr {
    margin-bottom: 40px;
  }
  .catalog-card__img {
    margin-bottom: 21px;
  }
  .catalog-card__title {
    margin-bottom: 3px;
  }
  .catalog-card__years {
    margin-bottom: 5px;
  }
  .catalog-card__descr {
    max-width: 100%;
  }
  .catalog__item:not(:last-child) {
    margin-bottom: 50px;
  }

  /*Events*/

  .events__title {
    margin-bottom: 16px;
  }
  .events__item:not(:last-child) {
    margin-bottom: 29px;
  }
  .events__picture {
    width: 100%;
  }

  .events-card__img {
    width: 100%;
    margin-bottom: 15px;
  }
  .events-card__content {
    padding: 0px 33px 46px 33px;
  }
  .events-card__wrapper {
    margin-bottom: 3px;
  }

  .events-card__title {
    margin-bottom: 14px;
    max-width: 81%;
  }
  .events-card__descr {
    margin-bottom: 56px;
  }
  .events-card__link {
    transform: translateX(0);
  }

  /*Projects*/
  .projects {
    padding: 80px 0;
  }

  .projects__title {
    margin-bottom: 17px;
  }

  .projects__descr {
    margin-bottom: 27px;
    max-width: 98%;
  }
  .projects__subtitle {
    margin-bottom: 29px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .projects__list {
    flex-direction: row;
  }
  .projects__item {
    padding: 25px 20px;
  }
  .projects__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 34px;
  }
  .projects__link {
    min-width: 275px;
  }
  .projects__img {
    width: 100%;
  }

  /*contacts*/
  .contacts {
    padding-top: 42px;
    padding-bottom: 34px;
    border-top: 1px solid var(--color--bright-gray-more);
  }
  .contacts__title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .contacts__descr {
    margin-bottom: 30px;
  }
  .contacts__form {
    margin-bottom: 29px;
    flex-direction: column;
  }

  .contacts__wrapper {
    margin-bottom: 12px;
    flex-direction: row;
    width: 100%;
  }
  .contacts__input {
    padding: 16px 24px;
    margin-bottom: 0;
  }
  .contacts__input:not(:last-child) {
    margin-right: 20px;
  }

  .contacts__btn {
    padding: 11px 28px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }

  .contacts__btn-hidden-text {
    display: initial;
  }

  .contacts__subtitle {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .contacts__link svg {
    width: 40px;
    height: 40px;
  }

  /*Footer*/
  .footer {
    padding: 32px 0;
  }
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo {
    width: 173px;
    transform: translateX(2px);
  }
  .footer__list {
    margin-bottom: 0;
  }
  .footer__item {
    padding-top: 8px;
  }
  .footer__link svg {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1024px) {
  /*Header*/
  .header {
    padding-top: 32px;
    padding-bottom: 21px;
  }
  .header__top {
    margin-bottom: 23px;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .nav {
    flex-grow: 1;
  }

  .nav__list {
    justify-content: space-between;
    flex-grow: 1;
  }

  /*Hero*/

  .hero {
    padding: 248px 0 72px;
    background-image: url("../img/hero_section/bg_tab.png");
  }
  .hero__container {
    min-height: 420px;
  }
  .hero__descr {
    max-width: 81%;
  }

  /*About*/
  .about {
    padding: 80px 0 70px;
  }

  /*Gallery*/
  .gallery__list {
    justify-content: space-between;
  }

  /*Catalog*/

  .catalog__descr {
    margin-bottom: 39px;
  }

  .catalog-card__years {
    margin-bottom: 15px;
  }

  /*Events*/

  .events__list {
    flex-direction: row;
  }

  .events__item:not(:last-child) {
    margin-bottom: 0;
  }
  .events-card__descr {
    margin-bottom: 0;
  }

  .events-card__content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    height: 100%;
  }
  .events__item {
    min-width: 290px;
    min-height: 683px;
  }
  .events__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 27px;
  }
  .events-card__title {
    margin-bottom: 8px;
    max-width: 100%;
  }
  .events-card__descr {
    max-width: 100%;
  }

  /*Projects*/
  .projects__descr {
    margin-bottom: 19px;
    max-width: 100%;
  }
  .projects__subtitle {
    margin-bottom: 16px;
  }
  .projects__item {
    padding: 25px 26px;
  }
  .projects__item:not(:last-child) {
    margin-right: 26px;
  }

  /*Contacts*/

  .contacts__form {
    margin-bottom: 16px;
    flex-direction: row;
  }
  .contacts__wrapper {
    margin-right: 20px;
    width: auto;
  }
  .contacts__input {
    min-width: 270px;
    width: auto;
  }
  .contacts__btn {
    width: 100%;
  }

  /*Footer*/
  .footer {
    padding: 35px 0;
  }
  .footer-logo {
    max-width: 175px;
  }
  .footer__list {
    margin-bottom: 0;
    transform: translateY(5px);
  }
  .footer__item {
    padding-top: 0;
  }
  .footer__link svg {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1600px) {
  .container {
    padding: 0 15px;
  }

  /*Header*/
  .header {
    padding: 30px 0;
  }
  .header__top {
    display: none;
  }
  .header__bottom {
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    flex-grow: 1;
    max-width: 1247px;
    justify-content: space-between;
    overflow-x: initial;
  }
  .nav__list {
    justify-content: space-between;
    max-width: 924px;
    flex-grow: 1;
  }
  .logo {
    width: 173px;
  }
  .header__bottom-logo {
    display: block;
  }
  .header__bottom-btn {
    display: block;
  }

  /*Hero*/
  .hero {
    padding: 247px 0 20px;
    min-height: 800px;
    background-image: url("../img/hero_section/bg_des.png");
  }
  .hero__container {
    min-height: 408px;
  }
  .hero__title {
    max-width: 70%;
  }
  .hero__descr {
    max-width: 43%;
  }

  /*About*/

  .about__descr {
    max-width: 66%;
  }

  /*Gallery*/
  .gallery__title {
    margin-bottom: 20px;
  }
  .gallery__content {
    display: flex;
    justify-content: space-between;
  }
  .gallery__wrapper {
    flex-direction: column;
    justify-content: end;
    margin-bottom: 0;
    padding-bottom: 8px;
  }

  /*Catalog*/
  .catalog {
    padding: 80px 0 70px;
  }
  .catalog__item:not(:last-child) {
    margin-bottom: 41px;
  }
  .catalog__descr {
    margin-bottom: 38px;
    max-width: 68%;
  }
  .catalog-card {
    display: flex;
  }
  picture {
    flex-shrink: 0;
  }
  .catalog-card__img {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .catalog-card__content {
    padding-top: 120px;
  }
  .catalog-card__title {
    margin-bottom: 0;
  }
  .catalog-card__years {
    margin-bottom: 16px;
  }

  /*Events*/
  .events__item:not(:last-child) {
    margin-right: 50px;
  }
  .events__item {
    min-width: 500px;
    min-height: 700px;
  }
  .events-card__wrapper {
    text-align: left;
    margin-bottom: 12px;
  }
  .events-card__content {
    padding: 0px 35px 37px 49px;
  }
  .events-card__title {
    max-width: 95%;
  }

  /*Projects*/
  .projects {
    padding-bottom: 76px;
  }

  .projects__descr {
    margin-bottom: 30px;
    max-width: 67%;
  }
  .projects__subtitle {
    margin-bottom: 15px;
  }
  .projects__item {
    padding: 27px;
  }
  .projects__item:not(:last-child) {
    margin-right: 34px;
  }

  /*Contacts*/
  .contacts {
    padding-top: 40px;
    padding-bottom: 31px;
  }
  .contacts__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .contacts__descr {
    margin-bottom: 0;
    font-size: 16px;
  }

  .contacts__form {
    margin-bottom: 0;
    padding-top: 8px;
    min-width: 910px;
  }
  .contacts-social {
    margin-top: -6px;
  }

  /*footer*/
  .footer {
    padding: 43px 0;
  }
  .footer__link svg {
    width: 45px;
    height: 45px;
  }
}
