:root {
  --color--black: #000;
  --color--bright-black: #333;
  --color--gray: #666;
  --color--bright-gray: #999;
  --color--bright-gray-more: #cacaca;
  --color--gray-accent: #ececec;
  --color--pink: #d1a9f0;
  --color--dark-pink: #c283f3;
  --color--purple: #9d5cd0;
  --color--dark-purple: #7943a4;
  --color--green: #30bf39;
  --color--aqua: #26a5e4;
  --color--red: #d11616;
}

/*Fonts*/
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*Global */

.page {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.p-reset {
  margin: 0;
  padding: 0;
}

.section-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
}

/*Header*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 16px;
  padding-bottom: 6px;
  width: 100%;
  background-color: var(--color--black);
}

.header__top {
  display: flex;
  margin-bottom: 6px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 96px;
  font-size: 0;
  line-height: 0;
}

.header__btn {
  color: #fff;
  line-height: 0;
}

.header__btn svg {
  width: 18px;
  height: 18px;
}
.header__bottom {
  display: flex;
}
.nav {
  display: flex;
  overflow-x: scroll;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 25px;
}
.nav__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fff;

  transition: color 0.5s, background-color 0.5s;
}

.nav__link:focus {
  outline: none;
  background-color: var(--color--dark-purple);
}

@media (hover: hover) {
  .nav__link:hover {
    color: var(--color--dark-pink);
  }
}

.nav__link:active {
  color: var(--color--dark-purple);
  background-color: var(--color--black);
}

.header__btn {
  transition: color 0.5s, background-color 0.5s;
}
.header__btn:focus {
  outline: none;
  background-color: var(--color--dark-purple);
}

@media (hover: hover) {
  .header__btn:hover {
    color: var(--color--dark-pink);
  }
}
.header__btn:active {
  color: var(--color--dark-purple);
  background-color: var(--color--black);
}

.header__bottom-logo {
  display: none;
}

.header__bottom-btn {
  display: none;
}

/*Hero*/

.hero {
  padding: 128px 0 50px;
  background-image: url("../img/hero_section/bg_mob.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 32px;
  line-height: 28px;
  color: #fff;
}
.hero__descr {
  margin-bottom: 40px;
  max-width: 85%;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}
.hero__btn {
  padding: 12px 19px;
  border-radius: 100px;

  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fff;

  background-color: var(--color--purple);
  transition: background-color 0.5s, outline 0.5s;
}

.hero__btn:focus {
  outline: 1px solid var(--color--pink);
  outline-offset: 5px;
}

@media (hover: hover) {
  .hero__btn:hover {
    outline: 1px solid var(--color--pink);
  }
}

.hero__btn:active {
  outline: 1px solid var(--color--pink);
  outline-offset: 0;
  background-color: var(--color--dark-purple);
}

/*About*/
.about {
  padding-top: 50px;
  padding-bottom: 41px;
}

.about__title {
  margin-bottom: 12px;
}
.about__descr {
  max-width: 98%;
}

/*Gallery*/

.gallery {
  padding: 50px 0 41px;
  background-image: url("../img/gallery_section/bg-mob.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__title {
  margin-bottom: 12px;
  color: #fff;
}

.gallery__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.gallery-checkbox {
  margin-left: -4px;
  user-select: none;
  cursor: pointer;
}

.gallery-checkbox__input {
  appearance: none;
}

.gallery-checkbox__input:checked + .gallery-checkbox__text::after {
  opacity: 1;
}

.gallery-checkbox__input:checked + .gallery-checkbox__text::before {
  border-color: var(--color--dark-pink);
}
.gallery-checkbox__text {
  position: relative;
  padding-left: 24px;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.gallery-checkbox__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

.gallery-checkbox__text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  background-color: var(--color--dark-pink);
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery-checkbox__input:focus + .gallery-checkbox__text::before {
  border-color: var(--color--dark-pink);
}

.gallery-checkbox__input:focus + .gallery-checkbox__text {
  color: var(--color--dark-pink);
}

@media (hover: hover) {
  .gallery-checkbox:hover .gallery-checkbox__text::before {
    border-color: var(--color--dark-pink);
  }
}

.gallery-checkbox:active .gallery-checkbox__text {
  color: var(--color--dark-pink);
}
.gallery__list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gallery__item:not(:last-child) {
  margin-bottom: 21px;
}

/*Catalog*/

.catalog {
  padding: 50px 0;
}

.catalog__title {
  margin-bottom: 12px;
}

.catalog__descr {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 32px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
}
.catalog__item:not(:last-child) {
  margin-bottom: 30px;
}

.catalog-card__img {
  margin-bottom: 11px;
}
.catalog-card__title {
  margin: 0;
  max-width: 99%;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}
.catalog-card__years {
  display: inline-block;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color--bright-gray);
}
.catalog-card__descr {
  max-width: 99%;
  font-size: 16px;
  line-height: 32px;
}

/*Events*/

.events__title {
  margin-bottom: 11px;
}
.events__list {
  display: flex;
  flex-direction: column;
}
.events__item {
  display: flex;
}
.events__item:not(:last-child) {
  margin-bottom: 20px;
}
.events-card {
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color--bright-gray-more);
}
.events-card__img {
  display: block;
  margin-bottom: 18px;
}
.events-card__content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0 18px 48px 23px;
}
.events-card__wrapper {
  margin-bottom: 8px;
  text-align: right;
}
.events-card__info {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: var(--color--bright-gray);
}
.events-card__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}
.events-card__descr {
  margin-bottom: 48px;
  max-width: 94%;
  font-size: 16px;
  line-height: 32px;
}
.events-card__link {
  position: relative;
  display: inline-block;
  outline: none;
  font-size: 16px;
  line-height: 32px;
  color: var(--color--purple);
  transform: translateX(6px);
}

.events-card__link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 1px;
  background-color: var(--color--purple);
}

.events-card__link:focus {
  background-color: var(--color--dark-pink);
  color: #fff;
}
.events-card__link:focus::before {
  background-color: #fff;
}

@media (hover: hover) {
  .events-card__link:hover {
    color: var(--color--dark-purple);
  }
  .events-card__link:hover::before {
    color: var(--color--dark-purple);
  }
}

.events-card__link:active {
  color: var(--color--black);
}
.events-card__link:active::before {
  background-color: var(--color--black);
}
/*Projects*/

.projects {
  padding: 50px 0;
}

.projects__title {
  margin-bottom: 13px;
}
.projects__descr {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 32px;
}
.projects__subtitle {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.projects__list {
  display: flex;
  flex-direction: column;
}
.projects__item {
  display: flex;
  position: relative;
  padding: 25px;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color--bright-gray-more);
}
.projects__item:not(:last-child) {
  margin-bottom: 12px;
}
.projects__link {
  display: inline-block;
  max-width: 160px;
  font-size: 0;
  line-height: 0;
}

.projects__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.projects__item:focus-within {
  border-color: var(--color--pink);
  box-shadow: 0px 0px 5px 1px var(--color--pink);
}

.projects__link:focus {
  outline: none;
}
@media (hover: hover) {
  .projects__link:hover .projects__img {
    filter: grayscale(0);
  }
}

.projects__link:active .projects__img {
  filter: grayscale(0);
  outline: none;
}

.projects__img {
  display: block;
  filter: grayscale(1);
  transition: filter 0.5s;
}

/*Contacts*/
.contacts {
  padding-bottom: 41px;
}
.contacts__title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.contacts__descr {
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contacts__form {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: baseline;
}
.contacts__input {
  margin-bottom: 20px;
  padding: 11px 24px;
  width: 100%;
  max-width: 323px;
  border: 1px solid;
  border-radius: 100px;
}

.contacts__input:active {
  background-color: var(--color--gray-accent);
}

@media (hover: hover) {
  .contacts__input:hover {
    background-color: var(--color--gray-accent);
  }
}
.contacts__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color--bright-gray);
}

.contacts__btn {
  padding: 10px 33px;
  border: 2px solid var(--color--purple);
  border-radius: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--color--purple);
  transition: background-color 0.5s, color 0.5s;
}

.contacts__btn:focus {
  outline: 2px solid var(--color--dark-pink);
  outline-offset: 5px;
}

@media (hover: hover) {
  .contacts__btn:hover {
    color: #fff;
    background-color: var(--color--purple);
  }
}

.contacts__btn:active {
  outline: none;
  background-color: var(--color--dark-purple);
  border-color: var(--color--pink);
  color: #fff;
}

.contacts__btn-hidden-text {
  display: none;
}
.contacts__subtitle {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.contacts__list {
  display: flex;
}
.contacts__item:not(:last-child) {
  margin-right: 20px;
}
.contacts__link {
  font-size: 0;
  line-height: 0;
}

.contacts__link-whatsapp {
  color: var(--color--green);
}

.contacts__link-telegram {
  color: var(--color--aqua);
}

.contacts__link:focus {
  opacity: 0.5;
  outline: none;
}

@media (hover: hover) {
  .contacts__link:hover {
    opacity: 0.5;
  }
}
.contacts__link:active svg {
  border: 1px solid var(--color--purple);
  border-radius: 50%;
}

/*Footer*/

.footer {
  padding: 20px 0;
  background-color: var(--color--black);
}
.footer__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.footer__list {
  display: flex;
  margin-bottom: 11px;
}
.footer__item:not(:last-child) {
  margin-right: 20px;
}
.footer__link {
  color: var(--color--bright-gray-more);
  transition: color 0.5s;
}

.footer__link:focus {
  color: #fff;
}
@media (hover: hover) {
  .footer__link:hover {
    color: #fff;
  }
}

.footer__link:active {
  color: var(--color--purple);
}
